RewriteEngine on

RewriteRule ^/?([a-z]*)?/?([a-z]*)?/?([a-z0-9]*)?/?$    index.php?view=$1&action=$2&data=$3  [L]

#RewriteRule ws    endpoint/client.php  [L]

#RewriteRule ws ws://localhost:5555/ [P]